
<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">AGY.</h1>
                        <p class="intro-text">Created with Rails.
                            <br>Designed with Bootstrap.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Skills</h2>
                <p>Ruby on Rails, HTML5, CSS, Python, Ruby and a bit of Javascript <br>Drone Video and Photography</p>
<!-- 				<%= @page.content(:text).try(:html_safe) %>
 -->
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Pardon the possible messiness of of my GitHub. <br>I promise to get it cleaned up soon!<br>Right now I am working on three various sites with a CMS (Spina) integration, <br> aswell as a tutorial on setting up a site using ROR5 and Spina<br>with a Bootstrap templates such as this one.</p>
                    <a href="https://github.com/andrewgy8" class="btn btn-github btn-lg">Visit GitHub</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact if you have a job </h2>
                <p>I accept any calls or questions and would gladly take a job,<br> preferably located on La Costa Blanca en España.<br> Not that picky at the moment...</p>
                <p><a href="mailto:andrewgy8@gmail.com">andrewgy8@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.facebook.com/andrew.grahamyooll" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/andrewgy8" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://youtu.be/wqNeiprMdPY" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">YouTube</span></a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>